<div class="container">
	<div class="row justify-content-center">
		<div class="col-sm-8">
			<% @services.each do |service| %>
			<h2><%= service.name %> by <%= service.user.first_name %></h2>
			<% if service.photo.attached? %>
				<%= cl_image_tag service.photo.key, height: 300, width: 500, crop: :fill %>
			<% end %>
			<p><%= service.description %></p>
			<p><%= service.price %></p>
			<p><%= service.time_to_answer %></p>
			<p><%= service.disponibility %></p>
			<hr>
			<% end %>
		</div>
	</div>
</div>
