<div class="container">
	<div class="row justify-content-center">
		<div class="col-sm-8">
			<% if @search.present? %>
			    <h1>Serviços contendo: <strong><%= @query %></strong></h1>
			  <% else %>
			    <h1><strong>Todos os serviços que temos</strong></h1>
			<% end %>
			<hr>
			<% @services.each do |service| %>
			<h2><%= service.name %> by <%= service.user.first_name %></h2>
			<% if service.photo.attached? %>
				<%= cl_image_tag service.photo.key, height: 300, width: 500, crop: :fill %>
			<% else %>
				<%= image_tag 'service_default.png' %>
			<% end %>
			<p><%= service.description %></p>
			<p><%= service.price %></p>
			<p><%= service.time_to_answer %></p>
			<p><%= service.disponibility %></p>
			<%= link_to  "Book this service", new_service_booking_path(service), class: "btn btn-primary" %>
			<hr>
			<% end %>
		</div>
	</div>
</div>
