<div class="container">
	<div class="row justify-content-center">
		<div class="col-sm-8">
			<% if @search.present? %>
			    <% if @search.empty? %>
			    	<h1>Desculpe, não existe serviço para "<%= @query %>"</h1>
			    <% else %>
			    	<h1>Serviços contendo: <strong><%= @query %></strong></h1>
			    <% end %>
			    	
			  <% else %>
			    <h1><strong>Todos os serviços que temos</strong></h1>
			<% end %>
			<hr>
			<% @services.each do |service| %>
			<%= link_to service_path(service, query: @query) do %>
				<h2><%= service.name %> by <%= service.user.first_name %></h2>
			<% end %>
			<% if service.photo.attached? %>
				<%= cl_image_tag service.photo.key, height: 300, width: 500, crop: :fill %>
			<% else %>
				<%= image_tag 'service_default.png' %>
			<% end %>
			<p><%= service.description %></p>
			<p><%= service.price %> R$</p>
			<p>Prazo para atender: <%= service.time_to_answer %> dias</p>
			<p>Disponibilidade: <%= service.disponibility %></p>
			<p><%= service.rating %> <i class="far fa-star"></i> </p>
			<%= link_to  "Book this service", new_service_booking_path(service), class: "btn btn-primary" %>
			<hr>
			<% end %>
		</div>
	</div>
</div>
