<div class="container d-flex justify-content-between">
    <div class="my_bookings w-50 p-1">
        <h1>Services you've booked</h1>
        <% if @my_bookings.empty?  %>
        <div class="card">

            <p> Nothing booked yet!</p>
        </div>
        <% else  %>
        <% @my_bookings.each do |booking| %>
        <div class="card">

            <p> Service description: <%= booking.service.description %></p>
            <p> Service Provider: <%= booking.service.user.first_name %></p>
            <p> Date: <%= booking.date %></p>
            <p> Status: <%= booking.status %></p>
        </div>
        <% end %>
        <% end %>
    </div>
    <div class="my_services_booked w-50 p-1">
        <h1>Services booked from you</h1>
        <% if @my_services_booked.empty?  %>
        <div class="card">

            <p> Nothing booked from you yet!</p>
        </div>
        <% else  %>
        <% @my_services_booked.each do |booking| %>
        <div class="card">

            <p> Service description: <%= booking.service.description %></p>
            <p> Service requester: <%= booking.user.first_name %></p>
            <p> Date: <%= booking.date %></p>
            <p> Status: <%= booking.status %></p>
            <div class="buttons d-flex justify-content-around"> 
            <% if booking.pending_confirmation?  %>

            <%= form_for booking do |fa| %>
            <%= fa.hidden_field :status, value: "Confirmado" %>
            <%= fa.submit "Confirmar", class: "btn btn-sm btn-outline-success" %>
            <% end %>

            <%= form_for booking do |fa| %>
            <%= fa.hidden_field :status, value: "Declinado" %>
            <%= fa.submit "Rejeitar", class: "btn btn-sm btn-outline-danger" %>
            <% end %>

            <% end %>

            <% if booking.confirmed?  %>
            <%= form_for booking do |fa| %>
            <%= fa.hidden_field :status, value: "Cancelado" %>
            <%= fa.submit "Cancelar", class: "btn btn-sm btn-outline-dark" %>
            <% end %>

            <% end %>

            </div>

        </div>
        <% end %>
        <% end %>

    </div>
</div>