<div class="container">
	<div class="card">
		<h2><%= @booking.service.name %></h2>
		<p>Service decription: <%= @booking.service.description %></p>
		<p>Service provider <%= @booking.service.user.first_name %> <%= @booking.service.user.last_name %></p>
		<p>Price: R$<%= @booking.service.price %></p>
		<p>Date: <%= @booking.date %></p>
		<p>Status: <%= @booking.status %></p>
	</div>
	<div class="d-flex justify-content-between">
        <div class="d-flex">
	        <%= form_for @booking do |fa| %>
	        	<%= fa.hidden_field :status, value: "Cancelado" %>
	        	<%= fa.submit "Cancelar", class: "btn btn-sm btn-danger", data: { confirm: "Tem certeza que deseja cancelar essa solicitação?"} %>
	        <% end %>
	        <%= link_to "Alterar", edit_booking_path, class: "btn btn-sm btn-info mx-2" %>
        </div>
        
        <%= link_to "My Bookings", bookings_path, class: "btn btn-sm btn-success"  %>
	</div>
</div>